<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/pagina-principal" color="tertiary"> </ion-back-button>
    </ion-buttons>
    <ion-title color="tertiary" class="btnprincipal"> Viajes Realizados</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-item>
      <ion-label>De Asuncion a Itakyry</ion-label>
    </ion-item>
    <ion-card-content>
      realizado el 14/05/22
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>De Itakyry a Oviedo</ion-label>
    </ion-item>
    <ion-card-content>
      realizado el 09/10/22
    </ion-card-content>
    
  </ion-card>
  

</ion-content>
