<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/pagina-principal" color="tertiary"> </ion-back-button>
    </ion-buttons>
    <ion-title color="tertiary" class="btnprincipal"> Pendientes a realizar</ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>
      <h2>Pendiente 1</h2>
      <p> Hacer entrega de tikect a cargil</p>
    </ion-label> 
  </ion-item>
  <ion-item>
    <ion-label>
      <h2>Pendiente 2</h2>
      <p>Cobro de dos cargas a retirar</p>
    </ion-label> 
  </ion-item>
  

</ion-content>
