<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/pagina-principal" color="tertiary"> </ion-back-button>
    </ion-buttons>
    <ion-title color="tertiary" class="btnprincipal"> Recuperar Contraseña </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
  
    &nbsp;
    <ion-input class="ion-text-center" lines="none" >
        Ingrese su direccion de email y para reestablecer la contraseña de su cuenta
    
    </ion-input>
    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input></ion-input>
    </ion-item>
    &nbsp;
    <ion-button class="btnprincipal" expand="block" >Enviar </ion-button>
  
</ion-content>
