<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="tertiary"></ion-menu-button>
    </ion-buttons>

    <ion-title class="btnprincipal">Pagina Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="margin: 20px">
    Bienvenidos a TransApp!
    <br />Conectando cargas con camiones
  </div>
  <br /><br />
  <ion-img src="assets\icon\TransportlogoORIG.png"></ion-img>
  
  <br />
  <ion-button class="btnprincipal" expand="block">Pendientes</ion-button>
</ion-content>
