<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-menu-button autoHide="false" color="tertiary"></ion-menu-button>

    </ion-buttons>

    <ion-title  class="btnprincipal">Pagina Principal</ion-title>
  </ion-toolbar>

</ion-header>



<ion-content class="ion-padding">
  <div style="margin: 20px;"  >
    Bienvenidos a TransApp! 
    <br>Conectando cargas con camiones
   </div>
   <br><br>
   <ion-img src="assets\icon\TransportlogoORIG.png"></ion-img>
   <br><br>
   <ion-button class="btnprincipal" expand="block">Messenger</ion-button>
   <br>
   <ion-button class="btnprincipal" expand="block">Pendientes</ion-button>
</ion-content>

<!-- 
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Cuenta</ion-item>
      <ion-item>Cargas</ion-item>
      <ion-item>Vehiculo</ion-item>
      <ion-item>Ubicacion</ion-item>
      <ion-item>Viajes</ion-item>
      <ion-item>Cerrar Sesion</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet> -->
 