<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/pagina-principal" color="tertiary"> </ion-back-button>
    </ion-buttons>
    <ion-title color="tertiary" class="btnprincipal"> Cargas Disponibles </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      
      <ion-label>De la empresa cargill</ion-label>
      <ion-button fill="outline" slot="end">solicitar</ion-button>
    </ion-item>
    <ion-card-content>
      Disponible hasta 12/06/22
      Costo 2500000
      cupo disponible 04
      De hernadarias a Asuncion
      carga de soja
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>De la empresa ADM</ion-label>
      <ion-button fill="outline" slot="end">solicitar</ion-button>
    </ion-item>
  
    <ion-card-content>
      Disponible hasta 22/08/22
      Costo 2500000
      cupo disponible 02
      De Asuncion a Itakyry
      carga de soja
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      
      <ion-label>De la empresa Puerto</ion-label>
      <ion-button fill="outline" slot="end">solicitar</ion-button>
    </ion-item>
  
    <ion-card-content>
      Disponible hasta 14/09/22
      Costo 50000000
      cupo disponible 10
      De Itakyry a Nuevo Horizonte
      carga de trigo
    </ion-card-content>
  </ion-card>
</ion-content>
