<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina-principal" color="tertiary">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="tertiary" > Actualizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="actualizarVehiculoForm" (ngSubmit)="actualizarForm()">
    <ion-card>
      
      <ion-item >
        <ion-label >Tipo de vehiculo</ion-label>
        <ion-input
          type="text"
          formControlName="vehi_tipo_vehiculo"
          value="{{this.vehi_tipo_vehiculo}}"
        ></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >Chapa del vehiculo</ion-label>
        <ion-input
          type="text"
          formControlName="vehi_chapa"
          value="{{this.vehi_chapa}}"
        ></ion-input>
      </ion-item>

    
      <ion-item>
        <ion-label >Color del vehiculo</ion-label>
        <ion-input
          type="text"
          formControlName="vehi_color"
          value="{{this.vehi_color}}"
          ></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >Estado del vehiculo</ion-label>
        <ion-input
          type="text"
          formControlName="vehi_estado"
          value="{{this.vehi_estado}}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label >Chofer</ion-label>
        <ion-input 
        type="text"
        formControlName="vehi_chofer"
        value="{{this.vehi_chofer}}"
        ></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label>Propietario</ion-label>
        <ion-input 
        type="text"
        formControlName="vehiculos_usu"
        value="{{this.vehiculos_usu}}"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [routerLink]="['/vehiculos/']">Actualizar</ion-button>
    </ion-card>
  </form>
</ion-content>