<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina-principal" color="tertiary">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="tertiary" > Actualizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="actualizarUsuarioForm" (ngSubmit)="actualizarForm()">
    <ion-card>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input
          type="text"
          formControlName="usu_nombre"
          value="{{this.usu_nombre}}"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellido:</ion-label>
        <ion-input
          type="text"
          formControlName="usu_apellido"
          value="{{this.usu_apellido}}"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Correo:</ion-label>
        <ion-input
          type="text"
          formControlName="usu_correo"
          value="{{this.usu_correo}}"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Documento:</ion-label>
        <ion-input
          type="text"
          formControlName="usu_documento"
          value="{{this.usu_documento}}"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Telefono:</ion-label>
        <ion-input
          type="text"
          formControlName="usu_telefono"
          value="{{this.usu_telefono}}"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [routerLink]="['/usuarios/']">Actualizar</ion-button>
    </ion-card>
  </form>
</ion-content>