<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina-principal" color="tertiary">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="tertiary"> Crear Cargas</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content > 
    <ion-card>
      <form [formGroup] = "registroForm" (ngSubmit)="crearCarga()">
        <ion-list>
          <ion-item lines="full">
            <ion-label color="primary" position="floating">Empresa </ion-label>
            <ion-input
              type="text"
              formControlName="car_empresa"
              name="car_empresa"
            ></ion-input>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label color="primary" position="floating">Tipo de carga</ion-label>
            <ion-input
              type="text"
              formControlName="car_tipo"
              name="car_tipo"
            ></ion-input>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label color="primary" position="floating">Origen y Destino de la carga</ion-label>
            <ion-input
              type="text"
              formControlName="car_origen_destino"
              name="car_origen_destino"
            ></ion-input>
          </ion-item>
        
          <ion-item lines="full">
            <ion-label color="primary" position="floating">Costo de la carga</ion-label>
            <ion-input
              type="number"
              formControlName="car_precio"
              name=" ar_precio"
            ></ion-input>
          </ion-item>
  
          <ion-item lines="full">
            <ion-label color="primary" position="floating">Disponible desde la fecha</ion-label>
            <ion-input
              type="date"
              formControlName="car_fecha"
              name="car_fecha"
            ></ion-input>
          </ion-item>
  
          <ion-row>
            <ion-col>
              <ion-button (click)="crearCarga()" 
              expand="block"
                >Crear Carga</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-list>
      </form>
    </ion-card>
  
  </ion-content>

